@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

html { 
  background: url("http://tveta.naver.net/libs/1177/1177271/b313a8ce2e189ac937e9_20171201111111767.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.slide-container {
  margin: auto;
  width: 600px;
  height: 500px;
  text-align: center;
}

@media screen and (max-width: 600px) {
 .slide-container {
   width: 300px;
   height: 300px;
 }
 .slide-container img{
   width: 270px !important;
   height: 270px !important;
   top: 30px !important;
   left: 15px !important;
   position: absolute;
 }
 .slick-prev {
   left: -25px !important;
   top: 190px;
   z-index: 999;
 }

 .slick-next {
   right: -25px !important;
   top: 190px;
   z-index: 999;
 }

}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper:focus {
  outline: 0;
}

.clash-card {
  width: 300px;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  text-align: center;
  height: 500px;
  width: 350px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--life1 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life2 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life3 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life4 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life5 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life6 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life7 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life8 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life9 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life10 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life11 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life12 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--life13 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 20px;
  z-index: 999;
}

.slick-next {
  right: 20px;
  z-index: 999;
}
